---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Content from '~/components/widgets/Content.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';


const metadata = {
  ignoreTitleTemplate: true,
};



---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    image={{ src: '~/assets/images/people.png', alt: 'Innovative Solutions' }}
    imageClass='height-150 sm:height-80 md:height-96 lg:height-96 xl:height-96'
    tagline="Pushing the boundaries of what's possible"
  >
    <Fragment slot="title">
      Breaking barriers in <span class="text-accent highlight">frontier research</span>
    </Fragment>

    <Fragment slot="subtitle">
      At Unsuspicious Industries, we're not just predicting the future - we're engineering it. Our elite team of researchers merges cutting-edge technology with breakthrough innovation across multiple disciplines. Because the most revolutionary advances often come from unexpected places.
    </Fragment>
  </Hero>

  <!-- Features Widget *************** -->

  <Features3
    id="features"
    tagline="Research & Innovation goals"
    title="Innovation without boundaries"
    subtitle="Six pillars of breakthrough research that shape tomorrow's world"
    items={[
      {
        title: 'Software research team',
        description: 'Our team of software engineers is dedicated to developing innovative solutions to complex problems.',
        icon: 'tabler:code',
      },
      {
        title: 'Hardware design lab',
        description: 'We are researching new ways to think about computing systems, and making more efficient chips.',
        icon: 'tabler:cpu',
      },
      {
        title: 'AI & Machine Learning',
        description: 'The AI team works on both learning algorithms and generation paradigms.',
        icon: 'tabler:brain',
      },
      {
        title: 'Financial research',
        description: 'Combining advanced tech (AI, data processing, etc.) with financial engineering to optimize trading strategies and market processes.', 
        icon: 'tabler:free-rights',
      },
      {
        title: 'Biological and ecological research',
        description: 'Leading a developemnt effort in the field of biotech and ecological research.',
        icon: 'tabler:leaf',
      },
      {
        title: 'Art & Creation',
        description: 'Our vision of science is built around creativity, art and the quest of the "beau".',
        icon: 'tabler:palette',
      },
    ]},
    columns={3}
  />


  <!-- Stats Widget ****************** -->

  <Stats
    id="stats"
    title="Our Statistics"
    subtitle="A quick glance at our performance."
    tagline="Performance Metrics"
    stats={[
      {
        amount: '10+',
        title: 'Projects in progress',
        icon: 'tabler:checkbox',
      },
      {
        amount: '10+',
        title: 'Involved researchers',
        icon: 'tabler:mood-smile',
      },
      {
        amount: '95%',
        title: 'Satisfaction Rate',
        icon: 'tabler:star',
      },
      {
        amount: '5000+',
        title: 'Cups of Coffee',
        icon: 'tabler:coffee',
      },
    ]}
  />


  <!-- Call to Action Widget ********* -->

  <CallToAction
    id="contact"
    title="Join the frontier of innovation"
    tagline="Be Part of Something Bigger"
    actions={[
      { text: 'Contact Us', href: '/contact', variant: 'primary' },
    ]}
  />

</Layout>
