---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Content from '~/components/widgets/Content.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';


const metadata = {
  title: 'Unsuspicious Industries — Pioneering Tech for Tomorrow',
  ignoreTitleTemplate: true,
};



---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    image={{ src: '~/assets/images/chip3.png', alt: 'Innovative Solutions' }}
    imageClass='height-150 sm:height-80 md:height-96 lg:height-96 xl:height-96'
  >
    <Fragment slot="title">
      Empowering the Future with <span class="text-accent highlight">Innovative Tech</span>
    </Fragment>

    <Fragment slot="subtitle">
      We are Unsuspicious Industries, a team of passionate innovators dedicated to creating cutting-edge technology solutions that drive human progress and improve lives.
    </Fragment>
  </Hero>

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Our Expertise"
    title="Why Choose Unsuspicious Industries"
    subtitle="A non-profit approach to cutting-edge technology with real-world applications across multiple disciplines."
    items={[
      {
        title: 'Software Development Mastery',
        description: 'Engineer your vision into reality with our full-stack software development capabilities.',
        icon: 'tabler:code',
      },
      {
        title: 'Innovative Hardware Solutions',
        description: 'From IoT devices to custom hardware, our designs bring your ideas to life.',
        icon: 'tabler:cpu',
      },
      {
        title: 'Advanced Artificial Intelligence',
        description: 'Harness the power of AI to drive efficiency, innovation, and smarter solutions.',
        icon: 'tabler:brain',
      },
      {
        title: 'A Social vision on the Future',
        description: 'We believe in a future where technology is used to improve the lives of all people, not just a select few.',
        icon: 'tabler:free-rights',
      },
      {
        title: 'Eco-friendly Innovations',
        description: 'Committed to sustainability, we develop solutions that benefit both technology and the planet.',
        icon: 'tabler:leaf',
      },
      {
        title: 'Artistic Innovations in the Tech World',
        description: 'We believe that technology should be built around the `Beau',
        icon: 'tabler:palette',
      },
    ]}
  />


  <!-- Stats Widget ****************** -->

  <Stats
    id="stats"
    title="Our Statistics"
    subtitle="A quick glance at our performance."
    tagline="Performance Metrics"
    stats={[
      {
        amount: '10+',
        title: 'Projects Completed',
        icon: 'tabler:checkbox',
      },
      {
        amount: '5+',
        title: 'Happy People',
        icon: 'tabler:mood-smile',
      },
      {
        amount: '200%',
        title: 'Satisfaction Rate',
        icon: 'tabler:star',
      },
      {
        amount: '5000+',
        title: 'Cups of Coffee',
        icon: 'tabler:coffee',
      },
    ]}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
      id="faq"
      tagline="Questions & Answers"
      title="Frequently Asked Questions"
      subtitle="Find answers to the most common questions about our social justice initiatives and how you can get involved."
      items={[
        {
          title: 'What is your mission?',
          description: 'Our mission is to promote social justice and equality by advocating for systemic change, supporting marginalized communities, and raising awareness about critical social issues.',
        },
        {
          title: 'How can I get involved?',
          description: 'There are many ways to get involved with our organization. You can volunteer your time, donate to support our initiatives, participate in our events, or help spread the word about our cause.',
        },
        {
          title: 'What kind of programs do you offer?',
          description: 'We offer a variety of programs focused on education, advocacy, and community support. These include workshops, outreach programs, policy advocacy, and support services for those affected by social injustice.',
        },
        {
          title: 'How do you ensure the effectiveness of your programs?',
          description: 'We regularly evaluate our programs to ensure they are meeting their goals and making a positive impact. We use data-driven approaches and feedback from the communities we serve to continuously improve our efforts.',
        },
        {
          title: 'How can I donate?',
          description: 'Donating is easy and secure. You can make a one-time donation or set up a recurring contribution through our website. Your support helps us continue our work and make a difference in the lives of those we serve.',
        },
      ]}
  />

  <!-- Call to Action Widget ********* -->

  <CallToAction
    id="contact"
    tagline="Let's Build the Future Together"
    title="Ready to innovate?"
    actions={[
      { text: 'Contact Us', href: '/contact', variant: 'primary' },
    ]}
  />

</Layout>