---
import Layout from '~/layouts/PageLayout.astro';
import type { MetaData } from '~/types';


const metadata: MetaData = {
    title: 'Privacy Policy',
};
---

<Layout metadata={metadata}>
    <section class="px-4 py-16 sm:px-6 mx-auto lg:px-8 lg:py-20 max-w-4xl">
        <h1 class="font-bold font-heading text-4xl md:text-5xl leading-tighter tracking-tighter">{metadata.title}</h1>
        <div
            class="mx-auto prose prose-lg max-w-4xl dark:prose-invert dark:prose-headings:text-slate-300 prose-md prose-headings:font-heading prose-headings:leading-tighter prose-headings:tracking-tighter prose-headings:font-bold prose-a:text-blue-600 dark:prose-a:text-blue-400 prose-img:rounded-md prose-img:shadow-lg mt-8"
        >
            <slot>
                <h1>Privacy Policy</h1>

                <p>Welcome to Unsuspicious Industries' Privacy Policy.</p>

                <p>Unsuspicious Industries is committed to protecting the privacy and security of your personal information. This Privacy Policy explains how we collect, use, and disclose personal information when you use our website and services.</p>

                <h2>Information We Collect</h2>

                <p>We collect various types of information when you visit our website or use our services, including:</p>

                <ul>
                    <li>Personal Information: such as your name, email address, and phone number, which you provide voluntarily when contacting us or subscribing to our newsletter.</li>
                    <li>Usage Information: such as your IP address, browser type, and operating system, collected automatically when you interact with our website.</li>
                    <li>Cookies: We use cookies and similar tracking technologies to enhance your browsing experience and analyze website traffic.</li>
                </ul>

                <h2>How We Use Your Information</h2>

                <p>We may use your information for various purposes, including:</p>

                <ul>
                    <li>Providing and improving our services</li>
                    <li>Communicating with you</li>
                    <li>Analyzing website usage and trends</li>
                    <li>Preventing fraudulent activity and ensuring security</li>
                </ul>

                <h2>Information Sharing</h2>

                <p>We do not sell, trade, or otherwise transfer your personal information to third parties without your consent, except as described in this Privacy Policy or as required by law.</p>

                <h2>Your Choices</h2>

                <p>You have the right to access, update, or delete your personal information. You may also opt out of receiving marketing communications from us.</p>

                <h2>Security</h2>

                <p>We take reasonable measures to protect the confidentiality and security of your personal information. However, no method of transmission over the internet or electronic storage is completely secure.</p>

                <h2>Changes to This Policy</h2>

                <p>We may update this Privacy Policy from time to time. Any changes will be posted on this page, and the effective date will be updated accordingly.</p>

                <h2>Contact Us</h2>

                <p>If you have any questions or concerns about our Privacy Policy, please contact us at <a href="mailto:contact@USI_URL">USI_URL</a>.</p>

                <p>Last Updated: 04-07-2023</p>
            </slot>
        </div>
    </section>
</Layout>