---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Layout from '~/layouts/PageLayout.astro';
import { getPermalink } from '~/utils/permalinks';

const metadata = {
  title: 'Services',
};
---
<Layout metadata={metadata}>
<!-- Hero Widget ******************* -->
<Hero
  tagline="Services"
  title="Empower Your Endeavors with Innovative Solutions"
  subtitle="At Unsuspicious Industries, we're committed to revolutionizing the way you tackle modern challenges. Explore our range of cutting-edge solutions designed to elevate your projects and drive success."
  image={{
    src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80',
    alt: 'Unsuspicious Industries Office Image',
  }}
/>

<!-- Content Widget **************** -->
<Content
  isReversed
  items={[
    {
      title: 'Cutting-Edge Technology',
      description: 'We leverage the latest advancements in technology to develop solutions that stay ahead of the curve and address the evolving needs of your projects.',
      icon: 'tabler:wand',
    },
    {
      title: 'User-Centric Design',
      description: 'Our solutions are designed with the end user in mind, ensuring intuitive interfaces and seamless user experiences.',
      icon: 'tabler:settings',
    },
    {
      title: 'Scalable Architecture',
      description: 'We employ scalable architectures that grow with your business, allowing for seamless expansion and adaptation to changing requirements.',
      icon: 'tabler:presentation',
    },
  ]}
  image={{
  src: 'https://images.unsplash.com/photo-1451187580459-43490279c0fa?q=80&w=2072&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
  alt: 'Features Image',
 }}
>
<Fragment slot="content">
  <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Our Approach</h3>
</Fragment>
</Content>
<!-- Content Widget **************** -->
<Content
  isAfterContent
  items={[
  {
    title: 'Continuous Innovation',
    description: 'We are committed to ongoing innovation, continuously enhancing our solutions to keep pace with technological advancements and market trends.',
    icon: 'tabler:clock',
  },
  {
    title: 'Customer Satisfaction',
    description: 'We prioritize customer satisfaction, striving to exceed expectations and deliver solutions that drive tangible results for your projects.',
    icon: 'tabler:school',
  },
  {
    title: 'Sustainable Impact',
    description: 'We believe in creating solutions that not only deliver immediate benefits but also contribute to a sustainable and prosperous future for all stakeholders.',
    icon: 'tabler:coin',
  },
  ]}
  image={{
    src: 'https://images.unsplash.com/photo-1520607162513-77705c0f0d4a?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
    alt: 'Benefits Image',
  }}
  >
  <Fragment slot="content">
    <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Our Commitment</h3>
  </Fragment>
</Content>

<!-- CallToAction Widget *********** -->
<CallToAction
actions={[{
  variant: "primary",
  text: 'Start exploring',
  href: '/',
}]}
title="Experience the Unsuspicious Difference"
subtitle="Unlock the potential of your projects with our innovative solutions. Whether you're in logistics, healthcare, retail, or beyond, we're here to help you succeed."
/>
</Layout>