---
import { SITE } from '~/utils/config';

import LogoImg from '~/assets/logo/logo.png';
---

<span class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-xl md:text-xl font-bold whitespace-nowrap">
  <img src={LogoImg.src} alt="Logo" class="inline-block md:inline-block mr-2" style="width: 2em; height: 2em;"/>
  <span class="inline md:hidden">{SITE?.acronym}</span>
  <span class="hidden md:inline">{SITE?.name}</span>
</span>